*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


h3 {
    font-size: 28px;
    color: #222;
    margin-top: 10px;
}

h4 {
    font-size: 20px;
    color: #222;
}

h5 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button .normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color:  #fff;
    background-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid#fff;
    outline: none;
    transition: 0.2s;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e5f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease ;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.review {
    width: 50%;
    margin-right: 0px;
    display: block;
}

#review1{
  text-align: center;
}

#review1 .pro-container{
    display: flex;
    justify-content: space-between;
    background-color: #088178;
    margin-bottom: 100px;
    width: 100%;
}

#review1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid#cce7d0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    margin-left: 25px;
    margin-right: 25px;
}

#review1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#review1 .pro img{
    width: 180px;
    border-radius: 4px;
}

#review1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#review1 .pro .des .span{
    color: rgb(171, 168, 168);
    font-size: 8px;
}

#review1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    margin-right: 20px;
}

#review1 .pro .des h4{
    padding-top: 7px;
    font-size: 17px;
    font-weight: 700;
    color: teal;
}

#review1 .pro .des .name{
    margin-left: 15px;
}

#review1 .pro .des .star{
    text-align: center;
    margin-top: 10px;
}

.detail-review{
    padding: 30px 120px 30px 120px;
    text-align: justify;
}

.detail-review h3{
    margin-bottom: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b9.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 40px 80px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(174, 163, 189);
}

#newsletter p span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(252, 183, 10);
}

#newsletter form{
    display: flex;
    width: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .form{
    margin-right: 10rem;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    width: 30%;
    height: 25px;
}

#game-detail{
    display: flex;
    margin-top: 20px;
}

#game-detail .detail-img{
    width: 40%;
    margin-right: 50px;
}

.mini.img-group{
    display: flex;
    justify-content: space-between;
}

.mini.img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#game-detail{
    display: flex;
    margin-top: 20px;
}

#game-detail .review-info{
    width: 50%;
    padding-top: 30px;
}

#game-detail .review-info h4{
    padding: 40px 0 20px 0;
}

#game-detail .review-info h2{
   font-size: 26px;
}

#game-detail .review-info select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#game-detail .review-info button{
    background-color: #088178;
    color: #fff;
}

#game-detail .review-info span{
    line-height: 25px;
}

/* Slideshow container */
.slideShow{
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: 40px 80px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next{
    margin-right: 100px;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    display: flex;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 80px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

footer .col h4{
    font-size: 16px;
}

footer .logo{
    margin-bottom: 30px;
    margin-left: 0px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow h4{
    font-size: 16px;
}

footer .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
    width: 30px;
    font-size: 30px;
    width: 50px;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /* slide */

  .slideShow-review{
    margin-right: 100px;
    margin-top: 0px;
  }

  #review1 h2{
    margin-bottom: 15px;
  }
