.input-group #list{
   margin-top: -5%;
   padding: 10px;
   display: grid;
   column-gap: 1%;
   grid-template-columns: 32.66% 32.66% 32.66%;
   row-gap: 10px;
   margin-left: -20.8%;
   margin-right: 5%;
}

.input-group #list img{
   width: 300px;
   height: 180px;
   object-fit: cover;
   margin: 20px 0;
   border-radius: 10px;
}

.input-group #list .items{
   text-align: center;
   border-radius: 10px;
}

.input-group #list .items .title{
   width: 80%;
   margin-left: 9.6%;
   font-weight: bold;
   font-size: 20px;
   background-color: rgb(223, 223, 223);
   margin-left: 9.6%;
   height: 10%;
}

.input-group .nameG{
   font-weight: bold;
   font-size: 20px;
   background-color: rgb(223, 223, 223);
   color: #0B3948;
   width: 80%;
   margin-left: 9.6%;
   height: 15%;
}

.input-group #list .items .title i{
   display: inline;
   font-size: 20px;
   color: goldenrod;
   width: 100px;
   align-items: center;
}

.input-group #list .items .title{
   height: 25px;
}

@media screen and (min-width:768px) and (max-width: 1024px){
.input-group #list{
   margin-top: -5%;
   column-gap: 1%;
   grid-template-columns: 50% 50%;
   row-gap: 10px;
   margin-right: 20px;
}

.input-group #list .items .title{
   margin-top: -1px;
}

.input-group #list .items{
   margin-bottom: 10%;
}

.input-group .nameG{
   height: -30px;
}
}

@media screen and (max-width: 480px){
   .input-group #list{
      display: block;
      margin-left: -6.5%;
   }
   
   .input-group #list img{
      width: 250px;
      height: 150px;
      margin: 5px;
      border-radius: 10px;
   }

   .input-group #list .items{
      margin-bottom: 30px;
   }
   
   .input-group #list .items .title{
      font-size: 15px;
      background-color: rgb(223, 223, 223);
      margin-bottom: 0px;
   }
   .input-group .nameG{
      margin-bottom: -0.8px;
      font-size: 15px;
   }

   .input-group #list .items .title .fa-solid {
      display: inline;
      font-size: 12px;
   }
}
