@font-face {
    font-family: "Eurostile-BoldExtendedTwo";
    src: url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.eot");
    src: url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.svg#Eurostile-BoldExtendedTwo")format("svg");
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #cec9cc; /* SNES background color */
}

header {
    background-color: #4f43ae; /* SNES purple color for header */
    font-size: 14px;
}

footer {
    background-color: #6A5ACD; /* SNES purple color for footer */
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

header h1, footer p {
    color: #FF4500; /* SNES text color */
    font-family: "Eurostile-BoldExtendedTwo";
}

canvas {
    image-rendering: pixelated;
    flex-grow: 1;
    margin-top: auto;
}

.footer-buttons {
    margin-top: 5px;
}

.footer-buttons a {
    color: #FF4500; /* SNES button text color */
    text-decoration: none;
    margin: 5px 30px;
    font-size: 12px;
    font-family: "Eurostile-BoldExtendedTwo";
}

/* Add styles for hover effect if desired */
.footer-buttons a:hover {
    text-decoration: underline;
}
