@font-face {
    font-family: "Eurostile-BoldExtendedTwo";
    src: url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.eot");
    src: url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/007f636c4af6a332a98f32cc3cee8cb4.svg#Eurostile-BoldExtendedTwo")format("svg");
}

header{
    background-color: #333333;
    font-size: 14px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 img {
    height: 100px;
}

.header-buttons {
    display: flex;
}

.header-buttons a {
    color: #ffffffac;
    text-decoration: none;
    font-size: 14px;
    font-family: "Eurostile-BoldExtendedTwo";
    display: inline-block;
    padding: 8px 12px;
    background-color: #333333;
    border-radius: 5px;
}

.header-buttons a:hover {
    background-color: #333333;
    color: #FF4500;
}

.header-buttons a:first-child {
    margin-left: 90px; /* Add some spacing between buttons if needed */
}

header h1 img {
    height: 80px !important; /* Set the height of the logo as needed */
}

nav {
    display: flex;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px; /* Add some spacing between navigation items */
    font-size: 14px;
    font-family: "Eurostile-BoldExtendedTwo";
}

/* Add styles for hover effect if desired */
nav a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('mario64.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color: #a8a39e;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width:100%;
    padding: 10px 0;
}

header h1, footer p {
    color: #4c4545;
    font-family: "Eurostile-BoldExtendedTwo";
}

canvas {
    image-rendering: pixelated;
    flex-grow: 1;
    margin-top: auto;
}

.footer-buttons {
    margin-top: 10px;
}

.footer-buttons a {
    color: #4c4545;
    text-decoration: none;
    margin: 5px 30px;
    font-size:12px;
    font-family: "Eurostile-BoldExtendedTwo";
}

/* Add styles for hover effect if desired */
.footer-buttons a:hover {
    text-decoration: underline;
}